@import '@/styles/var.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600; // Ant Design 默认标题权重
}

.ql-align-right {
  text-align: right !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-align-justify {
  text-align: justify !important;
}

h1 { font-size: 24px !important; }
h2 { font-size: 20px !important; }
h3 { font-size: 18px !important; }
h4 { font-size: 16px !important; }
h5 { font-size: 14px !important; }
h6 { font-size: 12px !important; }

.App {
  height: 100vh;
  .app-content {
    height: calc(100vh - 60px);
  }
}

.login-page {
  // background: url('@/assets/ring.png') no-repeat;
  // background-size: cover;

  .login-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.ant-spin-fullscreen {
  z-index: 2000;
}

.ant-modal {
  .ant-modal-confirm-btns {
    .ant-btn-primary {
      background: $--color-primary;
      border-color: $--color-primary;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    }
    .ant-btn-primary:hover,
    .ant-btn-primary:active {
      background: $--color-primary-light;
      border-color: $--color-primary-light;
    }
  }
  .page-form {
    max-height: 66vh;
    overflow-y: auto;
  }
}

.ant-card {
  .ant-form-horizontal {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.ant-modal {
  .ant-form-horizontal {
    .ant-row {
      .ant-col {
        .ant-form-item {
          margin-bottom: 6px;
        }
        .ant-form-item-required {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.ant-drawer {
  .ant-drawer-header {
    background: $--color-primary-light3;
    .ant-drawer-title {
      color: $--color-primary;
    }
  }
}

.page-content {
  flex: 1;
  padding: 16px;

  .page-card {
    .ant-card-body {
      padding: 16px !important;
      height: calc(100vh - 166px);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .button-item {
      align-self: stretch;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 8px;
      height: 36px;
      padding-right: 0 !important;
      .ant-btn + .ant-btn {
        margin-left: 8px;
      }
    }
  }
}

.page-card-detail {
  min-width: calc(100% - 200px);
  background: $--color-white-light;
  padding: 16px 16px 0;

  .card-detail_New {
    margin: 0px -16px;
    border: none;
    border-radius: 0;
    // display: flex;
    padding: 16px;
    // height: calc(100vh - 140px);
    justify-content: space-between;
    background: #fff;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      background: $--color-white-light;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .card-detail-content {
      // flex: 1;
      overflow-x: hidden;
      // width: calc(50% - 20px);
      border: 1px solid $--font-color-primary-light;

      .ant-card-head {
        background: $--color-primary-light3;
        color: $--color-primary;
        border-bottom: 1px solid $--font-color-primary-light;
        padding: 0 16px;
      }
    }
  }

  .card-detail {
    margin: -8px -16px 0;
    border: none;
    border-radius: 0;
    display: flex;
    padding: 16px;
    height: calc(100vh - 140px);
    justify-content: space-between;
    background: #fff;
    position: relative;

    // &::after {
    //   content: '';
    //   width: 4px;
    //   height: 100%;
    //   background: $--color-white-light;
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }

    .card-detail-content {
      flex: 1;
      overflow-x: hidden;
      // width: calc(50% - 20px);
      border: 1px solid $--font-color-primary-light;

      &:first-child {
        margin-right: 36px;
      }

      .ant-card-head {
        background: $--color-primary-light3;
        color: $--color-primary;
        border-bottom: 1px solid $--font-color-primary-light;
        padding: 0 16px;
      }
      .ant-card-body {
        padding: 16px;

        .ant-table-wrapper {
          height: 100%;
        }

        .ant-table {
          overflow: auto;

          .ant-table-tbody {
            .odd {
              background-color: #fff;
            }
            .even {
              background-color: rgba(250, 250, 250, 1);
              .ant-table-cell-fix-right {
                background-color: rgba(250, 250, 250, 1);
              }
            }
            .ant-table-row.ant-table-row-selected > .ant-table-cell {
              background: $--color-primary-light3 !important;
            }
          }

          // 表格内操作列字體顔色
          .cursor-pointer {
            color: $--color-primary;
          }

          // 表格内操作列字體鼠標懸停顔色
          .cursor-pointer:hover {
            color: $--color-primary;
          }

          .ant-table-header.ant-table-sticky-holder {
            overflow: visible !important;
          }
        }
      }
    }

    .card-content-list {
      overflow-y: auto;
      &:first-child {
        margin-right: 36px;
      }
      .card-detail-content {
        &:first-child {
          margin-right: 0;
          margin-top: 0;
        }
      }
      .card-detail-content {
        margin-top: 16px;
      }
    }
  }

  .card-submit {
    margin: -8px -16px 0;
    border: none;
    border-radius: 0;
    display: flex;
    padding: 16px;
    height: calc(100vh - 140px);
    justify-content: space-between;
    background: #fff;
    position: relative;

    .card-detail-content {
      flex: 1;
      overflow-x: hidden;
      border: 1px solid $--font-color-primary-light;

      .ant-card-head {
        background: $--color-primary-light3;
        color: $--color-primary;
        border-bottom: 1px solid $--font-color-primary-light;
        padding: 0 16px;
      }
      .ant-card-body {
        padding: 16px;
      }
    }

    .card-content-list {
      overflow-y: auto;
      .card-detail-content {
        &:first-child {
          margin-right: 0;
          margin-top: 0;
        }
      }
      .card-detail-content {
        margin-top: 16px;
      }
    }
  }
}

.ant-collapse {
  .ant-collapse-header.ant-collapse-icon-collapsible-only {
    color: $--color-primary !important;
  }
  .ant-collapse-content {
    overflow-y: auto;
    height: 100%;
  }
}

.detail-card {
  .ant-collapse-header-text {
    flex: none !important;
    padding-right: 10px;
  }
}

.page-detail {
  .ant-card {
    border: none;
    .ant-card-body {
      padding: 16px 0 !important;
      height: 70vh;
      display: flex;
      flex-direction: column;
      // overflow: hidden;
    }
  }
}

.page-form {
  .ant-card {
    border: none;
  }
  .page-card {
    .ant-table-wrapper {
      height: 100%;
    }

    .page-border-card {
      border: 1px solid $--color-info-light;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}

.ant-tabs-content {
  height: 100%;
  .ant-tabs-tabpane {
    height: 100%;
  }
}

.fr-form.ant-form-horizontal {
  .ant-form-item-label {
    text-align: left;
    label {
      color: rgb(108, 108, 108);
    }
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    display: none;
  }
}

.ant-select-disabled {
  .ant-select-arrow {
    display: none;
  }
}
.ant-picker-disabled {
  .ant-picker-suffix {
    display: none;
  }
}
